@font-face {
    font-family: 'Roboto Bold';
    src: url("../fonts/Roboto-Condensed-Bold.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Condensed-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Roboto';
    line-height: 1.258;
    font-size: medium;
    line-height: 1;
    height: auto !important;
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,.95);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 1170px;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.wraper {
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    padding: 10px;
    background: pink;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    background: #f39;
    padding: 10px;
    box-sizing: border-box;
    background: red;
    background-image: linear-gradient(to left,#9f041b,#e32);
}

.header-left {
    width: 70%;
    float: left;
}

.header-right {
    width: 30%;
    float: left;
}

.btn {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
}

.input-timkiem {
    padding: 10px;
    border-radius: 3px;
    border: navajowhite;
    width: 73%;
}

.btn-timkiem {
    padding: 9px;
    border-radius: 0;
    margin-left: -6px;
    font-size: 13px;
}

.logo {
    margin: 0;
    color: #fff;
    font-size: 33px;
}

ul {
    margin: 0;
    position: relative;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu-ul li {
    float: left;
    padding: 15px;
}

    .menu-ul li a {
        color: #0738a5;
    }

    .menu-ul li:hover {
        background: #FFC107;
    }

        .menu-ul li:hover a {
            color: #fff;
        }

.menu {
    width: 100%;
    height: 50px;
    /*background: #09f;*/
    background: #ffffff;
    margin-top: 10px;
}

.content {
    min-height: 500px;
    float:left;
}

.content-left {
    width: 70%;
    height: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.ct-left {
    width: 55%;
    float: left;
    height: 100%;
    margin-top: 15px;
}

.ct-right {
    width: 43%;
    float: right;
    height: 100%;
    margin-left: 10px;
}

.img_danhmuc_righ {
    width: 35%;
    float: left;
    margin-right: 15px;
}

.ul-content-right li a {
    font-size: 16px;
    line-height: 23px;
    color: #000;
}

.ul-content-right li {
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
    margin-top: 14px;
}

.content-mid {
    width: 30%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.p-tinnong {
    line-height: 30px;
    color: #000;
    font-size: 23px;
}

.noidung-tinnong {
    color: #000;
    line-height: 21px;
    font-size: 13px;
    margin: 0;
    margin-top: 6px;
}

.center-content {
    border-top: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.anh-drow-tinnong {
    margin-top: 14px;
    width: 44%;
    float: left;
    margin-right: 10px;
}

.center-content a {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 15px;
    padding: 1px;
}

.tinmoinhat {
    background: #bc151e;
    padding: 12px;
    color: #fff;
    font-size: 22px;
}

.content-new {
}

.ul-content-new-right {
    border: 1px solid #Ccc;
    padding: 16px;
    margin-top: -22px;
}

    .ul-content-new-right li {
        padding: 10px 0;
    }

        .ul-content-new-right li a {
            color: #000;
            line-height: 17px;
            font-size: 15px;
        }

            .ul-content-new-right li a:hover {
                color: #bc151e;
            }
/*.content-right{
	width: 30%;
	height: 500px;
	background: #f96;
	float: left;
}*/
.p-drow {
    line-height: 28px;
    color: #000;
}

.footer {
    clear: both;
    width: 100%;
    min-height: 100px;
    background: #545473;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.footer p {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.ColorRed {
    color: red !important;
    font-weight: bold !important;
    font-size:12px;
}

/*Button đăng kí, đăng nhập*/
.mt-2 {
    margin-top: 10px;
}

.btn2 {
    display: inline-block;
    border: 1px solid transparent;
    padding: .205rem .rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

.btn-them {
    padding: 6px;
    border-radius: 4px;
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

    .btn-them:hover {
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34
    }

.btn-huy {
    background-color: #efad10;
    border-color: #efad10;
    padding: 6px;
    border-radius: 4px;
}
.btn-huy a {
    color: #fff !important;
}

    .btn-huy:hover {
        color: #fff;
        background-color: #d8a80b;
        border-color: #bd2130
    }
p {
    line-height: 25px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.textb {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}